include ../layout.pug 

+layout
    h1 Images
    p.introText
        | Documentation and examples for opting images into responsive behavior (so they never become larger than their parent elements) and add lightweight styles to them—all via classes.