.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__left {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 1px solid #3896c1;
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  &__logo {
    border-bottom: 1px solid #3896c1;
    width: 100%;
    padding: 2%;
    display: block;
  }

  &__footer {
    padding: 2%;
    border-top: 1px solid #3896c1;
  }

  &__nav {
    border-bottom: 1px solid #3896c1;
    display: grid;
    grid-template-columns: min-content auto auto min-content min-content;
  }

  &__tree {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
    padding: 2%;
  }

  &__content {
    overflow: auto;
  }

  &__footer {
    display: flex;

    span {
      word-break: break-word;
    }
  }

  &__users-menu {
    margin-left: auto;
    display: flex;
  }
}
