@import "../variables";

.layout {
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    &__left {
        box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05);
        z-index:1;
        display: flex;
        flex-direction: column;
        flex: 0 1 15%;
    }

    &__top-left {
        padding:$unit $unit*3;
    }

    &__content-left {
        display: flex;
        flex-grow: 1;
        overflow: auto;
    }

    &__bottom-left {
        padding:$unit $unit*2;
    }

    &__right {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__top-right {

        border-bottom:1px solid $color-gray-6;
        padding: $unit*2 $unit*3;
    }

    &__content-right {
        padding:$unit*3;
        background: $color-gray-7;
        overflow: auto;
    }


}
