.layout {
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    &__left {
        display: flex;
        flex-direction: column;
        flex: 0 1 20%;
        border-right: 1px solid #3896c1;
    }

    &__right {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__top-left {
        display: flex;
        border-bottom: 1px solid #3896c1;
        padding: 0.2rem;
    }

    &__top-right {
        display: flex;
        padding: 0.2rem;
        border-bottom: 1px solid #3896c1;
    }

    &__content-right {
        overflow: auto;
        padding: 0.2rem;
        background-color: bisque;
    }

    &__content-left {
        display: flex;
        flex-grow: 1;
        overflow: auto;
        border-bottom: 1px solid #3896c1;
    }

    &__bottom-left {
        display: flex;
        padding: 0.2rem;
    }
}
