@import '../../variables.scss';
@import '../../mixins';

.sat-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: white;
  padding: $unit * 2;
  border-radius: 3px;
  @include scrollbars($unit/2, $color-gray-5, transparent);
  &_md {
    max-height: 50vh;
    overflow-x: auto;
  }
  &_sm {
    max-height: 25vh;
    overflow-x: auto;
  }
}
