include ../layout.pug

+layout
    h1 Progress
    p.introText
        | Documentation and examples for using Bootstrap custom progress bars featuring support for stacked bars, animated backgrounds, and text labels.