include layout

+layout
    h1 Introduction
    p.intro-text
        | This is SAT. Template for admin and another dashboard-type interfaces. Contribute
        | on 
        a(href='https://github.com/emilgadzhiyev/SAT' target='_blank') Github
        | . Menu tree on the left (and many other components of UX/UI, description of
        | components and etc.) is copied from 
        a(href='https://getbootstrap.com/docs/4.5/getting-started/introduction/' target='_blank') Bootstrap
        |  framework for more convenience. Enjoy!