.layout__right-top
    .navbar
        .navbar__item.navbar__item_auto
            i.icon.icon_lg.hamburger menu
        .navbar__item.navbar__item_scroll-x-show
            .breadcrumbs
                .breadcrumbs__crumb
                    a(href='/') &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 0
                .breadcrumbs__separator /
                .breadcrumbs__crumb
                    a(href='/') &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 1
                .breadcrumbs__separator /
                .breadcrumbs__crumb
                    a(href='/') &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 2
                .breadcrumbs__separator /
                .breadcrumbs__crumb
                    a(href='/') &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 3
                .breadcrumbs__separator /
                .breadcrumbs__crumb &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 4
        .navbar__item.navbar__item_auto
            .user-bar
                .user-bar__username Muradov Elman Fuad
                .user-bar__actions
                    .user-bar__action
                        i.icon.settings settings
                    .user-bar__action
                        i.icon.logout logout