mixin layout
    doctype html
    html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title SAT - Welcome
        //- link(rel='stylesheet' href='../style/index.scss')
    .layout
        .layout__left
            .layout__left-top
                a.logo(href='/')
                    img(src='../img/png/logo.png' alt='Main logo of project.')
            .layout__left-content
                .tree
                    .tree__node
                        .tree__collapse Layout
                        .tree__subtree.tree
                            .tree__node
                                a.tree__link(href='') Breakpoints
                            .tree__node
                                a.tree__link(href='') Containers
                            .tree__node
                                a.tree__link(href='') Grid
                            .tree__node
                                a.tree__link(href='') Columns
                            .tree__node
                                a.tree__link(href='') Gutters
                            .tree__node
                                a.tree__link(href='') Utilities
                            .tree__node
                                a.tree__link(href='') Z-index
                    .tree__node
                        .tree__collapse Content
                        .tree__subtree.tree
                            .tree__node
                                a.tree__link(href='') Reboot
                            .tree__node
                                a.tree__link(href='') Typography
                            .tree__node
                                a.tree__link(href='') Images
                            .tree__node
                                a.tree__link(href='') Tables
                            .tree__node
                                a.tree__link(href='') Figures
                    .tree__node
                        .tree__collapse Forms
                        .tree__subtree.tree
                            .tree__node
                                a.tree__link(href='') Overview
                            .tree__node
                                a.tree__link(href='') Form control
                            .tree__node
                                a.tree__link(href='') Select
                            .tree__node
                                a.tree__link(href='') Checks & radios
                            .tree__node
                                a.tree__link(href='') Range
                            .tree__node
                                a.tree__link(href='') Input group
                            .tree__node
                                a.tree__link(href='') Floating labels
                            .tree__node
                                a.tree__link(href='') Layout
                            .tree__node
                                a.tree__link(href='') Validation
                    .tree__node
                        .tree__collapse Components
                        .tree__subtree.tree
                            .tree__node
                                a.tree__link(href='components/accordion.pug') Accordion
                            .tree__node
                                a.tree__link(href='components/alerts.pug') Alerts
                            .tree__node
                                a.tree__link(href='components/badge.pug') Badge
                            .tree__node
                                a.tree__link(href='components/breadcrumb.pug') Breadcrumb
                            .tree__node
                                a.tree__link(href='components/button-group.pug') Buttons
                            .tree__node
                                a.tree__link(href='components/buttons.pug') Button group
                            .tree__node
                                a.tree__link(href='components/card.pug') Card
                            .tree__node
                                a.tree__link(href='components/carousel.pug') Carousel
                            .tree__node
                                a.tree__link(href='components/close-button.pug') Close button
                            .tree__node
                                a.tree__link(href='components/collapse.pug') Collapse
                            .tree__node
                                a.tree__link(href='components/dropdowns.pug') Dropdowns
                            .tree__node
                                a.tree__link(href='components/list-group.pug') List group
                            .tree__node
                                a.tree__link(href='components/modal.pug') Modal
                            .tree__node
                                a.tree__link(href='components/navbar.pug') Navs and tabs
                            .tree__node
                                a.tree__link(href='components/navs-and-tabs.pug') Navbar
                            .tree__node
                                a.tree__link(href='components/pagination.pug') Pagination
                            .tree__node
                                a.tree__link(href='components/popovers.pug') Popovers
                            .tree__node
                                a.tree__link(href='components/progress.pug') Progress
                            .tree__node
                                a.tree__link(href='components/scrollspy.pug') Scrollspy
                            .tree__node
                                a.tree__link(href='components/spinners.pug') Spinners
                            .tree__node
                                a.tree__link(href='components/toasts.pug') Toasts
                            .tree__node
                                a.tree__link(href='components/tooltips.pug') Tooltips
                    .tree__node
                        .tree__collapse 2
                        .tree__subtree.tree
                            .tree__node
                                .tree__collapse 2.1
                                .tree__subtree.tree
                                    .tree__node
                                        .tree__node(href='')
                                            .tree__collapse 2.1.1
                                            .tree__subtree.tree
                                                .tree__node
                                                    a.tree__link(href='') 2.1.1.1
                                                .tree__node
                                                    a.tree__link(href='') 2.1.1.2
                                                .tree__node
                                                    a.tree__link(href='') 2.1.1.3
            .layout__left-bottom
                .copyright
                    | Versiya: 1.0.0.0 | Yenil&#x259;nm&#x259; tarixi:28.10.2020 15:46:29.26
        .layout__right
            .layout__right-top
                .navbar
                    .navbar__item.navbar__item_auto
                        i.icon.icon_lg.hamburger menu
                    .navbar__item.navbar__item_scroll-x-show
                        .breadcrumbs
                            .breadcrumbs__crumb
                                a(href='/') &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 0
                            .breadcrumbs__separator /
                            .breadcrumbs__crumb
                                a(href='/') &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 1
                            .breadcrumbs__separator /
                            .breadcrumbs__crumb
                                a(href='/') &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 2
                            .breadcrumbs__separator /
                            .breadcrumbs__crumb
                                a(href='/') &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 3
                            .breadcrumbs__separator /
                            .breadcrumbs__crumb &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 4
                    .navbar__item.navbar__item_auto
                        .user-bar
                            .user-bar__username Muradov Elman Fuad
                            .user-bar__actions
                                .user-bar__action
                                    i.icon.settings settings
                                .user-bar__action
                                    i.icon.logout logout
            .layout__right-content
                block
    script(src='../js/Tree.js')
    script(src='../js/OffCanvasMenu.js')