mixin layout
    doctype html
    html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title SAT - Welcome
        link(rel='stylesheet' href='/index.scss')
    .layout
        .layout__left
            .layout__left-top
                a.logo(href='/')
                    img(src='/static/images/logo.png' alt='Main logo of project.')
            .layout__left-content
                .tree
                    .tree__node
                        .tree__collapse Layout
                        .tree__subtree.tree
                            .tree__node
                                a.tree__link(href='/pug/layout/breakpoints.pug') Breakpoints
                            .tree__node
                                a.tree__link(href='/pug/layout/containers.pug') Containers
                            .tree__node
                                a.tree__link(href='/pug/layout/grid.pug') Grid
                            .tree__node
                                a.tree__link(href='/pug/layout/columns.pug') Columns
                            .tree__node
                                a.tree__link(href='/pug/layout/gutters.pug') Gutters
                            .tree__node
                                a.tree__link(href='/pug/layout/utilities.pug') Utilities
                            .tree__node
                                a.tree__link(href='/pug/layout/z-index.pug') Z-index
                    .tree__node
                        .tree__collapse Content
                        .tree__subtree.tree
                            .tree__node
                                a.tree__link(href='/pug/content/reboot.pug') Reboot
                            .tree__node
                                a.tree__link(href='/pug/content/typography.pug') Typography
                            .tree__node
                                a.tree__link(href='/pug/content/images.pug') Images
                            .tree__node
                                a.tree__link(href='/pug/content/tables.pug') Tables
                            .tree__node
                                a.tree__link(href='/pug/content/figures.pug') Figures
                    .tree__node
                        .tree__collapse Forms
                        .tree__subtree.tree
                            .tree__node
                                a.tree__link(href='/pug/forms/overview.pug') Overview
                            .tree__node
                                a.tree__link(href='/pug/forms/form-control.pug') Form control
                            .tree__node
                                a.tree__link(href='/pug/forms/select.pug') Select
                            .tree__node
                                a.tree__link(href='/pug/forms/checks-and-radios.pug') Checks & radios
                            .tree__node
                                a.tree__link(href='/pug/forms/range.pug') Range
                            .tree__node
                                a.tree__link(href='/pug/forms/input-group.pug') Input group
                            .tree__node
                                a.tree__link(href='/pug/forms/floating-labels.pug') Floating labels
                            .tree__node
                                a.tree__link(href='/pug/forms/layout.pug') Layout
                            .tree__node
                                a.tree__link(href='/pug/forms/validation.pug') Validation
                    .tree__node
                        .tree__collapse Components
                        .tree__subtree.tree
                            .tree__node
                                a.tree__link(href='/pug/components/accordion.pug') Accordion
                            .tree__node
                                a.tree__link(href='/pug/components/alerts.pug') Alerts
                            .tree__node
                                a.tree__link(href='/pug/components/badge.pug') Badge
                            .tree__node
                                a.tree__link(href='/pug/components/breadcrumb.pug') Breadcrumb
                            .tree__node
                                a.tree__link(href='/pug/components/buttons.pug') Buttons
                            .tree__node
                                a.tree__link(href='/pug/components/button-group.pug') Button group
                            .tree__node
                                a.tree__link(href='/pug/components/card.pug') Card
                            .tree__node
                                a.tree__link(href='/pug/components/carousel.pug') Carousel
                            .tree__node
                                a.tree__link(href='/pug/components/close-button.pug') Close button
                            .tree__node
                                a.tree__link(href='/pug/components/collapse.pug') Collapse
                            .tree__node
                                a.tree__link(href='/pug/components/dropdowns.pug') Dropdowns
                            .tree__node
                                a.tree__link(href='/pug/components/list-group.pug') List group
                            .tree__node
                                a.tree__link(href='/pug/components/modal.pug') Modal
                            .tree__node
                                a.tree__link(href='/pug/components/navs-and-tabs.pug') Navs and tabs
                            .tree__node
                                a.tree__link(href='/pug/components/navbar.pug') Navbar
                            .tree__node
                                a.tree__link(href='/pug/components/pagination.pug') Pagination
                            .tree__node
                                a.tree__link(href='/pug/components/popovers.pug') Popovers
                            .tree__node
                                a.tree__link(href='/pug/components/progress.pug') Progress
                            .tree__node
                                a.tree__link(href='/pug/components/scrollspy.pug') Scrollspy
                            .tree__node
                                a.tree__link(href='/pug/components/spinners.pug') Spinners
                            .tree__node
                                a.tree__link(href='/pug/components/toasts.pug') Toasts
                            .tree__node
                                a.tree__link(href='/pug/components/tooltips.pug') Tooltips
                    .tree__node
                        .tree__collapse 2
                        .tree__subtree.tree
                            .tree__node
                                .tree__collapse 2.1
                                .tree__subtree.tree
                                    .tree__node
                                        .tree__node(href='')
                                            .tree__collapse 2.1.1
                                            .tree__subtree.tree
                                                .tree__node
                                                    a.tree__link(href='') 2.1.1.1
                                                .tree__node
                                                    a.tree__link(href='') 2.1.1.2
                                                .tree__node
                                                    a.tree__link(href='') 2.1.1.3
            .layout__left-bottom
                .copyright
                    | Versiya: 1.0.0.0 | Yenil&#x259;nm&#x259; tarixi:28.10.2020 15:46:29.26
        .layout__right
            .layout__right-top
                .navbar
                    .navbar__item
                        i.icon.icon_lg.hamburger menu
                    .navbar__item.navbar__item_eager
                        .scrollable-area
                            .breadcrumbs
                                .breadcrumbs__crumb
                                    a(href='/') &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 0
                                .breadcrumbs__separator /
                                .breadcrumbs__crumb
                                    a(href='/') &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 1
                                .breadcrumbs__separator /
                                .breadcrumbs__crumb
                                    a(href='/') &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 2
                                .breadcrumbs__separator /
                                .breadcrumbs__crumb
                                    a(href='/') &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 3
                                .breadcrumbs__separator /
                                .breadcrumbs__crumb &Ncy;&acy;&vcy;&icy;&gcy;&acy;&tscy;&icy;&yacy; 4
                    .navbar__item
                        .user-bar
                            .user-bar__username Muradov Elman Fuad
                            .user-bar__actions
                                .user-bar__action.icon settings
                                .user-bar__action.icon logout
            .layout__right-content
                block
    script(src='/index.js')
