.layout__left
    .layout__left-top
        a.logo(href='/index.html')
            img(src='./src/img/png/logo.png' alt='Main logo of project.')
    .layout__left-content
        .tree
            .tree__node
                .tree__collapse Layout
                .tree__subtree.tree
                    .tree__node
                        a.tree__link(href='') Overview
                    .tree__node
                        a.tree__link(href='') Grid
                    .tree__node
                        a.tree__link(href='') Utilities for layout
            .tree__node
                .tree__collapse Content
                .tree__subtree.tree
                    .tree__node
                        a.tree__link(href='') Reboot
                    .tree__node
                        a.tree__link(href='') Typography
                    .tree__node
                        a.tree__link(href='') Code
                    .tree__node
                        a.tree__link(href='') Images
                    .tree__node
                        a.tree__link(href='') Tables
                    .tree__node
                        a.tree__link(href='') Figures
            .tree__node
                .tree__collapse Components
                .tree__subtree.tree
                    .tree__node
                        a.tree__link(href='/alerts.html') Alerts
                    .tree__node
                        a.tree__link(href='/badges.html') Badges
                    .tree__node
                        a.tree__link(href='/breadcrumb.html') Breadcrumb
                    .tree__node
                        a.tree__link(href='/buttons.html') Buttons
                    .tree__node
                        a.tree__link(href='/button-group.html') Button group
                    .tree__node
                        a.tree__link(href='/cards.html') Cards
                    .tree__node
                        a.tree__link(href='/carousel.html') Carousel
                    .tree__node
                        a.tree__link(href='/collapse.html') Collapse
                    .tree__node
                        a.tree__link(href='') Dropdowns
                    .tree__node
                        a.tree__link(href='') Forms
                    .tree__node
                        a.tree__link(href='') Input group
                    .tree__node
                        a.tree__link(href='') Jumbotron
                    .tree__node
                        a.tree__link(href='') List group
                    .tree__node
                        a.tree__link(href='') Media object
                    .tree__node
                        a.tree__link(href='') Modal
                    .tree__node
                        a.tree__link(href='') Navs
                    .tree__node
                        a.tree__link(href='') Navbar
                    .tree__node
                        a.tree__link(href='') Pagination
                    .tree__node
                        a.tree__link(href='') Popovers
                    .tree__node
                        a.tree__link(href='') Progress
                    .tree__node
                        a.tree__link(href='') Scrollspy
                    .tree__node
                        a.tree__link(href='') Spinners
                    .tree__node
                        a.tree__link(href='') Toasts
                    .tree__node
                        a.tree__link(href='') Tooltips
            .tree__node
                .tree__collapse 2
                .tree__subtree.tree
                    .tree__node
                        .tree__collapse 2.1
                        .tree__subtree.tree
                            .tree__node
                                .tree__node(href='')
                                    .tree__collapse 2.1.1
                                    .tree__subtree.tree
                                        .tree__node
                                            a.tree__link(href='') 2.1.1.1
                                        .tree__node
                                            a.tree__link(href='') 2.1.1.2
                                        .tree__node
                                            a.tree__link(href='') 2.1.1.3
    .layout__left-bottom
        .copyright
            | Versiya: 1.0.0.0 | Yenil&#x259;nm&#x259; tarixi:28.10.2020 15:46:29.26