include ../layout

+layout
    h1 Accordiona
    p.introText
        | Build vertically collapsing accordions in combination with our Collapse JavaScript plugin.
    .stack
        .stack__item.row
            .col-8
                .card.card_md
                    p
                        | Simple accordion:
                    .accordion
                        button.accordion__button Section 1
                        .accordion__panel
                            | Lorem ipsum...
                        button.accordion__button Section 2
                        .accordion__panel
                            | Lorem ipsum...
                        button.accordion__button Section 3
                        .accordion__panel
                            | Lorem ipsum...
