include ../layout

+layout
    h1 Cards
    p.intro-text
        | Bootstrap’s cards provide a flexible and extensible content container with multiple variants and options.
    h2 About
    p.intro-text
        | A 
        b card 
        | is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options. If you’re familiar with Bootstrap 3, cards replace our old panels, wells, and thumbnails. Similar functionality to those components is available as modifier classes for cards.
    h2 Example
    p.intro-text
        | Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other SAT components. They have no 
        code(style='color:red') margin 
        | by default, so use spacing utilities as needed.
    p.intro-text
        | Below is an example of a basic card with mixed content and a fixed width. Cards have no fixed width to start, so they’ll naturally fill the full width of its parent element. This is easily customized with our various sizing options.
    .stack
        .stack__item.row
            .col-6
                .sat-card.sat-card_md
                    .card(style='width: 18rem;')
                        svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                            title Placeholder
                            rect(width='100%' height='100%' fill='#6c757d')
                            text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
                        .card-body
                            h5.card-title Card title
                            p.card-text
                                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                            a.btn.btn-primary(href='#') Go somewhere

    pre
        code.html
            |&lt;div class="card" style="width: 18rem;"&gt;
            |   &lt;img src="..." class="card-img-top" alt="..."&gt;
            |   &lt;div class="card-body"&gt;
            |       &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
            |       &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
            |       &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
            |   &lt;/div&gt;
            |&lt;/div&gt;