include ../layout.pug 

+layout
    h1 Checks and radios
    p.introText
        | Create consistent cross-browser and cross-device checkboxes and radios with our completely rewritten checks component.