include ../layout

+layout
    h1 Containers
    p.introText
        | Containers are a fundamental building block of Bootstrap that contain, pad, and align your content within a given device or viewport.
