include ../layout

+layout
    h1 Scrollspy
    p.introText
        | Automatically update Bootstrap navigation or list group components based on scroll position to indicate which link is currently active in the viewport.
