include ../layout

+layout
    h1 Tables
    p.intro-text
        | Documentation and examples for opt-in styling of tables (given their prevalent use in JavaScript plugins) with SAT.
        | Bootstrap MODIFIED!
    h2 Examples
    p.intro-text
        | Due to the widespread use of tables across third-party widgets like calendars and date pickers, we’ve designed our tables to be 
        b opt-in
        | . Just add the base class 
        code(style='color:red') .table 
        | to any 
        code(style='color:red') &lt;table&gt;
        | , then extend with custom styles or our various included modifier classes.
    h3 Simple table
    p.intro-text
        | Using the most basic table markup, here’s how 
        code(style='color:red') .table
        | -based tables look in SAT.
    .stack
        .stack__item.row
            .col-6
                .sat-card.sat-card_md
                    table.table
                        thead
                            tr
                                th Thead
                                th Thead
                                th Thead
                                th Thead
                        tbody
                            tr
                                td Tbody
                                td Tbody
                                td Tbody
                                td Tbody
                            tr
                                td Tbody
                                td Tbody
                                td Tbody
                                td Tbody
                            tr
                                td Tbody
                                td Tbody
                                td Tbody
                                td Tbody
                        tfoot
                            tr
                                td Tfoot
                                td Tfoot
                                td Tfoot
                                td Tfoot
    pre
        code.html
            |&lt;table class="table"&gt;
            |   &lt;thead&gt;
            |       &lt;tr&gt;
            |           &lt;th&gt;Thead&lt;/th&gt;
            |           &lt;th&gt;Thead&lt;/th&gt;
            |           &lt;th&gt;Thead&lt;/th&gt;
            |           &lt;th&gt;Thead&lt;/th&gt;
            |       &lt;/tr&gt;
            |   &lt;/thead&gt;
            |   &lt;Tbody&gt;
            |       &lt;tr&gt;
            |           &lt;td&gt;Tbody&lt;/th&gt;
            |           &lt;td&gt;Tbody&lt;/td&gt;
            |           &lt;td&gt;Tbody&lt;/td&gt;
            |           &lt;td&gt;Tbody&lt;/td&gt;
            |       &lt;/tr&gt;
            |       &lt;tr&gt;
            |           &lt;td&gt;Tbody&lt;/th&gt;
            |           &lt;td&gt;Tbody&lt;/td&gt;
            |           &lt;td&gt;Tbody&lt;/td&gt;
            |           &lt;td&gt;Tbody&lt;/td&gt;
            |       &lt;/tr&gt;
            |       &lt;tr&gt;
            |           &lt;td&gt;Tbody&lt;/th&gt;
            |           &lt;td&gt;Tbody&lt;/td&gt;
            |           &lt;td&gt;Tbody&lt;/td&gt;
            |           &lt;td&gt;Tbody&lt;/td&gt;
            |       &lt;/tr&gt;
            |   &lt;/Tbody&gt;
            |   &lt;tfoot&gt;
            |       &lt;tr&gt;
            |           &lt;td&gt;Thead&lt;/th&gt;
            |           &lt;td&gt;Thead&lt;/th&gt;
            |           &lt;td&gt;Thead&lt;/th&gt;
            |           &lt;td&gt;Thead&lt;/th&gt;
            |       &lt;/tr&gt;
            |   &lt;/tfoot&gt;
            |&lt;/table&gt;
    h3 Sticky Thead
    .stack
        .stack__item.row
            .col-6
                .sat-card.sat-card_md
                    div(style='height: 300px; overflow-y: scroll;')
                        table.table(style='position: relative;')
                            thead(style='position: sticky; top: 0;')
                                tr
                                    th Thead
                                    th Thead
                                    th Thead
                                    th Thead
                                    th Thead
                                    th Thead
                                    th Thead
                            tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                            tfoot
                                tr
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
    h3 Sticky Tfoot
    .stack
        .stack__item.row
            .col-6
                .sat-card.sat-card_md
                    div(style='height: 300px; overflow-y: scroll;')
                        table.table(style='position: relative; height: 100px; overflow-y: scroll;')
                            thead
                                tr
                                    th Thead
                                    th Thead
                                    th Thead
                                    th Thead
                                    th Thead
                                    th Thead
                                    th Thead
                            tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                            tfoot(style='position: sticky; bottom: 0;')
                                tr
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
    h3 Sticky Thead and Tfoot
    .stack
        .stack__item.row
            .col-6
                .sat-card.sat-card_md
                    div(style='height: 300px; overflow-y: scroll;')
                        table.table(style='position: relative; height: 100px; overflow-y: scroll;')
                            thead(style='position: sticky; left:0; top: 0;')
                                tr
                                    th Thead
                                    th Thead
                                    th Thead
                                    th Thead
                                    th Thead
                                    th Thead
                                    th Thead
                            tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                tr
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                                    td Tbody
                            tfoot(style='position: sticky; :0;bottom: 0;')
                                tr
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
                                    td Tfoot
    h3 Sticky Thead, Tfoot and Column
    .stack.intro-text
        .stack__item.row
            .col-6
                .sat-card.sat-card_md
                    div(style='height: 300px; overflow-y: scroll;')
                        table#last_table.table(style='position: relative; height: 100px; overflow-y: scroll;')
                            thead(style='position: sticky; left:0; top: 0;')
                                tr
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                            tbody
                                tr
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                tr
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                tr
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                tr
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                tr
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                tr
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                tr
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                            tfoot(style='position: sticky; :0;bottom: 0;')
                                tr
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY
                                    td TBODY

                                









