include ../layout

+layout
    h1 Tooltips
    p.introText
        | Documentation and examples for adding custom Bootstrap tooltips with CSS and JavaScript using CSS3 for animations and data-bs-attributes for local title storage.
