include ../layout

+layout
    h1 Typography
    p.intro-text
        | Documentation and examples for Bootstrap typography, including global settings, headings, body text, lists, and more.
    h2 Global settings
    h2 Headings
    h3 Customizing headings
    h2 Display headings
    h2 Lead
    h2 Inline text elements
    h2 Text utilities
    h2 Abbreviations
    h2 Blockquotes
    h3 Naming a source
    h3 Alignment
    h2 Lists
    h3 Unstyled
    h3 Inline
    h3 Description list alignment
    h2 Responsive font sizes
