include ../layout

+layout
    h1 Utilities for layout
    p.introText
        | For faster mobile-friendly and responsive development, Bootstrap includes dozens of utility classes for showing, hiding, aligning, and spacing content.
