include ../layout.pug 

+layout
    h1 Validation
    p.introText
        | Provide valuable, actionable feedback to your users with HTML5 form validation, via browser default behaviors or custom styles and JavaScript.