include ../layout

+layout
    h1 Z-index
    p.introText
        | While not a part of Bootstrap’s grid system, z-indexes play an important part in how our components overlay and interact with one another.
