@import "/node_modules/fontsource-ibm-plex-sans/index.css";

body {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: unset;
}
// * {
//     outline: 1px solid red;
// }
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    line-height: 1.5;
}
